<!DOCTYPE html>
<html>
<script type="text/javascript">
    function updateTextInput(val) {
          document.getElementById('textInput').value=val; 
        }
</script>
<head>
	<title>Heart Disease Presence Prediction System</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<style>
    #q{
        max-width: 400px;
    }
</style>
<body>
	<div class="showcase container purple lighten-3">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <h2>Heart Disease Presence Prediction System</h2>
            <p>Web App</p>
            <a href="/" class="btn btn-small purple white-text waves-effect waves-dark">Reset</a>
        </div>

    </div>
</div>

	<section class="section">
    <div class="container">
      <div class="row">
             <div class="col s12">
              <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0" id="q">
                <form method="POST" action="/predict">
						
                        <label for="age">Age</label>
                        <input type="number"  step=".01" name="age" min="0" max="1"/>
                        <!-- <input type="range" value="0" name="age" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="age" value="0"><hr> -->

                        <label for="gender">Gender</label>
                        <!-- <input type="range" value="0" name="sex" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="sex" value="0"><hr> -->
                        <input type="number" id="sex" value="0" name="sex" min="0" max="1"/>

                        <label for="cp">cp</label>
                        <!-- <input type="range" value="0" name="cp" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" id="cp" step=".01" min="0" max="1" name="cp"/>

                        <label>trestbps</label>
                        <!-- <input type="range" value="0" name="trestbps" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="trestbps" value="trestbps"/>

                        <label>chol</label>
                        <!-- <input type="range" value="0" name="chol" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="chol" value="chol"/>

                        <label>fbs</label>
                        <!-- <input type="range" value="0" name="fbs" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" min="0" max="1" name="fbs"/>

                        <label>restecg</label>
                        <!-- <input type="range" value="0" name="restecg" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="restecg">

                        <label>thalach</label>
                        <!-- <input type="range" value="0" name="thalach" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="thalach"/>

                        <label>exang</label>
                        <!-- <input type="range" value="0" name="exang" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" min="0" max="1" name="exang"/>
						
						 <label>oldpeak</label>
                        <!-- <input type="range" value="0" name="oldpeak" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="oldpeak"/>

                        <label>slope</label>
                        <!-- <input type="range" value="0" name="slope" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="slope"/>

                        <label>ca</label>
                        <!-- <input type="range" value="0" name="ca" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="ca"/>

                        <label>thal</label>
                        <!-- <input type="range" value="0" name="thal" step=".01" min="0" max="1" onchange="updateTextInput(this.value);"> -->
                        <!-- <input type="text" id="textInput" value="0"><hr> -->
                        <input type="number" step=".01" min="0" max="1" name="thal"/>

				<input type="submit" value="Predict" class="btn btn-small purple waves-effect waves-light btn-extend">
                  <input type="reset" value="Clear" class="btn btn-small white waves-effect waves-light btn-extend">
			</form>
   			 </div>
        </div>
    </div>
</div>
  </section>

</body>
</html>